.eltdf-drop-down .second .inner ul li a {
	font-family: "EB Garamond" !important;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 2.33em;
	font-style: normal;
}
.td-scroll-up {
left: 10px;
}

.eltdf-woo-single-page .eltdf-single-product-summary .product_meta {
	border: 2px solid #c7a980;
	padding: 20px;
}
